.sec-1 {
	padding-bottom: 75px;
	position: relative;
	margin-bottom: 53px;
	@media (min-width: $md2+px) {
		margin-bottom: 253px;
		padding-bottom: 105px;
	}
}
.section-head {
	margin-bottom: 30px;

	@media (min-width: $md4+px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@media (min-width: $md2+px) {
		margin-bottom: 100px;
	}

	&__title {
		font-family: "Museo Sans Cyrl 100";
		position: relative;
		font-size: 22px;
		line-height: 31px;
		padding-bottom: 25px;
		margin-bottom: 25px;
		@media (min-width: $md4+px) {
			padding: 9px 26px 9px 0px;
		}

		@media (min-width: $md2+px) {
			font-size: 32px;
			line-height: 48px;
			padding: 75px 80px 75px 0px;
		}

		@media (max-width: $md4+px) {
			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				height: 2px;
				width: 100%;
				background-color: #00adef;
			}
		}

		@media (min-width: $md4+px) {
			&:after {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				width: 2px;
				height: 100%;
				background-color: #00adef;
			}
		}
	}
	&__postitle {
		opacity: 0.2;
		font-family: "Museo Sans Cyrl 900";
		font-size: 14px;
		letter-spacing: 5px;
		line-height: 23px;
		text-transform: uppercase;

		@media (min-width: $md4+px) {
			max-width: 30%;
			padding-left: 37px;
		}
		@media (min-width: $md2+px) {
			font-size: 20px;
			letter-spacing: 8px;
			line-height: 32px;
			padding-left: 78px;
		}
	}
}
.about {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
	flex-wrap: wrap;

	@media (max-width: $md4+px) {
		padding: 0 40px;
		margin-bottom: 36px;
	}
	@media (min-width: $md4+px) {
		padding: 0 50px;
	}
	@media (min-width: $md2+px) {
		margin-bottom: 130px;
	}
	&-item {
		@media (min-width: $md3+px) {
			flex: 0 1 30%;
		}
	}
	&__name {
		font-family: "Museo Sans Cyrl 900";
		font-size: 20px;

		margin-bottom: 21px;
		@media (max-width: $md4+px) {
			margin-bottom: 11px;
			line-height: 22px;
			font-size: 16px;
		}
		@media (min-width: $md2+px) {
			line-height: 32px;
		}
	}
	&__text {
		font-family: "Museo Sans Cyrl 300";
		font-size: 16px;
		line-height: 22px;
		@media (max-width: $md4+px) {
			margin-bottom: 24px;
			font-size: 14px;
			line-height: 18px;
		}
		@media (min-width: $md2+px) {
			line-height: 28px;
		}
	}
}
