//====================================================================================================
.slick-slider {
	position: relative;
	.slick-track,
	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-list {
		position: relative;
		overflow: hidden;
		width: 100%;
	}
	.slick-track {
		position: relative;
		width: 100%;
	}
	.slick-slide {
		overflow: hidden;
		float: left;
		position: relative;
	}
	.slick-dots {
		position: absolute;
		font-size: 0;
		bottom: 40px;
		left: 55%;
		transform: translateX(-50%);
		li {
			button {
				width: 24px;
				height: 2px;
				background-color: #ffffff;
			}
			&.slick-active {
				button {
					background-color: #00adef;
				}
			}
		}
	}
}
//=====================================================================================================================
.slick-arrow {
	position: absolute;
	bottom: 0;
	left: 55%;
	transform: translateX(-50%);
	font-size: 0;
	background-color: #ffffff;
	width: 1px;
	height: 88px;
	z-index: 3;
	@media (max-width: $md4+px) {
		height: 38px;
	}
}
.slick-next {
	bottom: -58px;
	@media (max-width: $md4+px) {
		bottom: 0;
	}
}
.slick-prev {
	bottom: 100px;
	@media (max-width: $md4+px) {
		bottom: 92px;
	}
}
